@model AspectIct.KnowledgeBase.Models.HomeViewModel

<div class="jumbotron">
    <h2>@Model.Name</h2>
    <address>@Model.Address</address>

    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="#" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Kennis</h2>
        <p>U wilt zorgeloos werken? Wij zetten onze brede kennis graag in om u te adviseren en te helpen de juiste keuzes te maken.</p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Service</h2>
        <p>Met een persoonlijk plan van aanpak vertalen wij uw vraag naar een passend en professioneel advies en zijn we nauw betrokken bij de implementatie en het beheer van uw ICT-omgeving.</p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>Bij vragen of calamiteiten kunt u terugvallen op onze goed opgeleide servicedesk medewerkers. Afhankelijk van de gemaakte afspraken kan dat zelfs 24 uur per dag.</p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beheer</h2>
        <p>Ons beheerplan biedt u inzicht in uw eigen ICT-landschap, garandeert continuïteit en voorkomt problemen. Én u kunt zonder zorgen verder werken.</p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
</div>
